/* Normalize */

body {
    margin: 0;
}

/* Defaults */

body {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a {
    color: inherit;
}

/* Utils inspired by tailwindcss.com */

.text-white {
    color: #fff;
}

.text-gray {
    color: hsl(0 0% 50%);
}

.text-center {
    text-align: center;
}

.my-2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.my-16 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.list-reset {
    list-style: none;
    margin: 0;
    padding: 0;
}

.rounded-full {
    border-radius: 50%;
}

.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.flex-wrap {
    flex-wrap: wrap;
}

.justify-between {
    justify-content: space-between;
}

.gap-x-6 {
    column-gap: 1.5rem;
}

.\*\:underline-on-hover a {
    text-decoration: none;
}

.\*\:underline-on-hover a:hover {
    text-decoration: underline;
}

/* www.grilly.com */

html {
    /* Progressively increase font size from 16px to 18px when 800 px < page size < 1000px */
    font-size: clamp(1rem, 0.5rem + 1vw, 1.125rem);
}

body {
    font-family: "Roboto Slab", system-ui, sans-serif;
    font-weight: 300;
    line-height: 1.5rem;
    background: #f9f9f9;
    margin: auto;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    max-width: 45rem;
}

strong {
    font-weight: 500;
}

hr {
    border: none;
    height: 1px;
    background: rgba(0, 0, 0, 0.15);
}

.logo {
    font-weight: 700;
    font-size: 1.1em;
}

.logo a {
    text-decoration: none;
}

.photo {
    width: 50%;
    max-width: 9rem;
}

.share-button {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.share-button svg {
    height: 50%;
}

.share-button:hover {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

/* Article */

main h1 {
    font-weight: 900;
    font-size: 2.2rem;
    line-height: 2.5rem;
    letter-spacing: -0.02em;
    margin: 0;
}

main code {
    background: rgba(0, 0, 0, 0.05);
    padding: 0.1em 0.2em;
    font-size: 0.85em;
}

main li {
    margin-top: 0.25rem;
}